* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0b1118;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Шапка */
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo {
    color: #ff9900;
    font-size: 32px;
    font-weight: 800;
}

.login-btn {
    border: 1px solid #ff9900;
    background: transparent;
    color: white;
    padding: 10px 35px;
    border-radius: 25px;
}


/* Главный экран */
.hero {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}


.hero-text {
    width: 520px;
}


.hero h1 {
    font-size: 56px;
    line-height: 1.05;
    margin: 0 0 25px;
}


.hero p {
    color: #9ba9bb;
    font-size: 20px;
    line-height: 1.5;
}


.buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}


.btn-main {
    background: #ff9900;
    color: black;
    padding: 16px 35px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}


.btn-second {
    background: #141f2c;
    color: white;
    border: 1px solid #314154;
    padding: 16px 35px;
    border-radius: 10px;
}



/* Карточка сметы */
.estimate {
    width: 360px;
    background: #141f2c;
    border-radius: 22px;
    padding: 30px;
    border: 1px solid #26384c;
}


.estimate h3 {
    margin-top:0;
}


.line {
    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #26384c;
}


.total {
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    font-size:22px;
}


.total span {
    color:#ff9900;
    font-weight:bold;
}



/* Возможности */
.features {
    height:260px;
    text-align:center;
}


.features h2 {
    font-size:36px;
}


.feature-grid {
    display:flex;
    justify-content:center;
    gap:20px;
}


.feature-card {
    width:230px;
    height:110px;
    background:#141f2c;
    border:1px solid #26384c;
    border-radius:15px;
    padding:20px;
    text-align:left;
}


.feature-card h3 {
    margin:0;
    color:#ff9900;
    font-size:18px;
}


.feature-card p {
    color:#9ba9bb;
    font-size:14px;
}



/* Что входит */
.services {
    height:250px;
}


.services h2 {
    text-align:center;
    font-size:34px;
}


.service-grid {
    display:grid;
    grid-template-columns:repeat(3,300px);
    justify-content:center;
    gap:20px;
}


.service-card {
    background:#141f2c;
    border:1px solid #26384c;
    border-radius:18px;
    padding:20px;
}


.service-card h3 {
    color:#ff9900;
    margin:0 0 10px;
}


.service-card p {
    color:#9ba9bb;
    margin:0;
}



/* Подвал */
footer {
    height:60px;
    text-align:center;
    color:#75859a;
    font-size:14px;
}
