* {
    box-sizing: border-box;
}

body {
    margin:0;
    background:#080f18;
    color:#fff;
    font-family:Arial,sans-serif;
}


header {
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 55px;
}


.logo {
    color:#ff9800;
    font-size:32px;
    font-weight:800;
}


.login {
    background:none;
    border:1px solid #ff9800;
    color:#fff;
    padding:12px 30px;
    border-radius:30px;
}


/* ===== HERO ===== */

.hero {

    max-width:1200px;
    margin:80px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:70px;
}


.hero-left {
    flex:1;
}


.hero h1 {

    font-size:64px;
    line-height:1.05;
    margin:0 0 25px;

}


.hero p {

    color:#9fb0c5;
    font-size:20px;
    line-height:1.5;

}


.buttons {

    margin-top:35px;
    display:flex;
    gap:20px;

}


.main-btn {

    background:#ff9800;
    border:0;
    padding:16px 32px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;

}


.second-btn {

    background:#101c2b;
    border:1px solid #34465c;
    color:white;
    padding:16px 32px;
    border-radius:10px;

}



/* ===== СМЕТА ===== */

.estimate {

    width:360px;

    background:#101c2b;

    border:1px solid #26384d;

    border-radius:20px;

    padding:30px;

}


.estimate-row {

    display:flex;
    justify-content:space-between;

    padding:18px 0;

    border-bottom:1px solid #26384d;

}


.estimate span {
    color:#9fb0c5;
}


.total {

    display:flex;
    justify-content:space-between;

    margin-top:25px;

    font-size:22px;

}


.total b {

    color:#ff9800;

}



/* ===== FEATURES ===== */

.features,
.services {

    max-width:1200px;

    margin:100px auto;

}



.features h2,
.services h2 {

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}



.feature-list {

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}


.feature,
.service {

    background:#101c2b;

    border:1px solid #26384d;

    border-radius:18px;

    padding:25px;

    min-height:160px;

}


.feature h3,
.service h3 {

    color:#ff9800;

}


.feature p,
.service p {

    color:#9fb0c5;

}



/* ===== SERVICES ===== */


.service-list {

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}




footer {

    text-align:center;

    margin:80px;

    color:#7890aa;

}



/* ===== MOBILE ===== */

@media(max-width:900px){

.hero {

    flex-direction:column;

}


.hero h1 {

    font-size:42px;

}


.feature-list {

    grid-template-columns:1fr 1fr;

}


.service-list {

    grid-template-columns:1fr;

}

}
